@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900");

:root {
  --white: #fff;
  --light-gray: #d5e1ef;
  --grayish-blue: #7d889e;
  --dark-blue: #1f314f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 16px;
  width: 320px;
  height: 497px;
  border-radius: 15px;
  gap: 24px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.1);
}

.qr__photo {
  width: 18rem;
  height: 18rem;
  border-radius: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: Outfit;
  gap: 16px;
  width: 18rem;
  height: 9rem;
}

.content__titel {
  font-weight: 700;
  font-size: 22px;
  color: var(--dark-blue);
}

.content__description {
  font-weight: 400;
  font-size: 16px;
  color: var(--grayish-blue);
  padding-bottom: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
}
